<% provide(:title, "拠点一覧") %>
<h1>拠点一覧</h1>

<div>
  <table class="table table-bordered table-condensed table-hover" id="office-table">
    <thead>
      <tr>
        <td></td>
        <td></td>
        <td>拠点番号</td>
        <td>拠点名</td>
        <td>勤怠種類</td>
      </tr>
    </thead>
    <% @offices.each do |office| %>
      <tbody>
        <tr>
          <td class="btn-left">
            <a class="btn btn-primary btn-office-edit" data-toggle="collapse" href="#collapse-edit<%= office.id %>" role="button">
              &emsp;修正&emsp;
            </a>
          </td>
          <td><%= link_to "削除", office, method: :delete,
                  data: { confirm: "#{office.office_name}のデータを削除しますか？" },
                  class: "btn btn-primary" %></td>
          <td><%= office.office_number %></td>
          <td><%= office.office_name %></td>
          <td><%= office.office_type %></td>
        </tr>
        <tr>
          <td colspan="5" class="collapse-edit">
            <div class="collapse" id="collapse-edit<%= office.id %>">
              <div class="collapse-body">
                <%= form_with(model: office, local: true) do |f| %>
                  <%= f.label Office.human_attribute_name :office_number, class:"label-#{yield(:class_text)}" %>
                  <%= f.number_field :office_number, class: "form-control" %>
                  
                  <%= f.label Office.human_attribute_name :office_name, class:"label-#{yield(:class_text)}" %>
                  <%= f.number_field :office_name, class: "form-control" %>
                  
                  <%= f.label Office.human_attribute_name :office_type, class:"label-#{yield(:class_text)}" %>
                  <%= f.number_field :office_type, class: "form-control" %>
                  
                  <%= f.submit "修正", class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <div class="jumbotron">
    <div class="acd-content col-md-2">
      <a class="btn btn-primary btn-lg btn-office-new" data-toggle="collapse" href="#collapse-new" role="button">
        拠点情報追加
      </a>
    </div>
  </div>
  <div class="collapse" id="collapse-new">
    <div class="collapse-body">
      <%= render 'form' %>
    </div>
  </div>
</div>