<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<!-- csvインポートフォーム　-->
<div class="csv_holder">
  <%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "CSVをインポート", class: "btn btn-primary" %>
  <% end %>
</div>

<!--  検索拡張機能  -->
<div class="row container">
  <div class="col-md-4 col-md-offset-8">
    <h5>ユーザー名検索</h5>
    <%= form_with url: users_path, method: :get, local: true do |f| %>
      <%= f.text_field :search, placeholder: 'キーワードを入力' %>
      <%= f.submit '検索', :name => nil, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class= "row">
  <div class="col-md-10 col-md-offset-1 pagenate-top"><%= will_paginate %></div>
</div>

<div class="row col-md-10 col-md-offset-1 acd-users"> 
  <% @users.each do |user| %>
    <div>
      <div>
        <p><%= user.name %></p>
        <p>|
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "削除", user, method: :delete,
                                data: { confirm: "#{user.name}を削除してよろしいですか？" },
                                class: "btn btn-primary" %>
          <% end %>
        </p>
      </div>
      
      <!-- アコーディオン表示　-->
      <div class="acd jumbotron">
        <div class="acd-content col-md-2">
          <a class="btn btn-primary btn-lg btn-edit" data-toggle="collapse" href="#collapse<%= user.id %>" role="button"><!--ユーザーIDを渡して各ユーザーに紐づけ-->
            編集
          </a>
        </div>
      </div>
      <div class="collapse collapse-panel" id="collapse<%= user.id %>"> <!--ユーザーIDを渡して各ユーザーに紐づけ-->
        <div class="collapse-body">
          <%= render 'form', {user: user } %>
          
        </div>
      </div>
    </div>
  <% end %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

