<% provide(:title, @user.name) %>
<div>
  <table class = "table table-bordered table-condensed" id= "user-table">
    <thead>
      <tr>
        <td>
          <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-info" if current_user?(@user) %>
          &emsp;<%= l(@first_day, format: :middle) %>&emsp;時間管理表&emsp;
          <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-info" if current_user?(@user) %>
        </td>
        <td>
          指定勤務時間&emsp;<%= format_basic_info(@user.work_time) %><br>
          指定勤務終了時間&emsp;<%= @user.work_time.strftime("%R") %>
        </td>
        <td colspan="3">基本時間&emsp;<%= format_basic_info(@user.basic_time) %></td>
        <td>初日&emsp;<%= l(@first_day, format: :short) %></td>
      </tr>
    
      <tr>
        <td>所属&emsp;<%= @user.department.present? ? @user.department : "未所属" %></td>
        <td>氏名&emsp;<%= @user.name %></td>
        <td>コード</td>
        <td><%= @user.employee_number %></td>
        <td>出勤日数&emsp;<%= @worked_sum %>日</td>
        <td>締め&emsp;<%= l(@last_day, format: :short) %></td>
      </tr>
    </thead>
  </table>
</div>

<h4 class: "btn btn-muted">
<% if current_user.admin? %>
  <p><%= link_to "【所属長承認申請のお知らせ】", "#" %></p>
  <p><%= link_to "【勤怠変更申請のお知らせ】", "#" %></p>
  <p><%= link_to "【残業申請のお知らせ】", "#" %></p>
<% end %>
</h4>

<div class = "btn-user-table">
  <% if current_user?(@user) %>
    <div class="btn-proup">
      <%= link_to "勤怠情報を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
      <%= link_to "CSV入力", user_path(date: @first_day, format: :csv), class: "btn btn-primary" %>
      <%= link_to "勤怠修正ログ（修正済）", "#", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div>
  <table class = "table table-bordered table-condensed table-striped" id = "user-table">
    <thead>
      <tr>
        <td rowspan ="4">残業申請</td>
        <td rowspan ="4">日付</td>
        <td rowspan ="4">曜日</td>
      </tr>
      <tr>
        <td colspan ="8">【実績】</td>
        <td colspan ="5">所定外勤務</td>
      </tr>
      <tr>
        <td colspan ="3">出社</td>
        <td colspan ="3">退社</td>
        <td rowspan ="2">在社時間</td>
        <td rowspan ="2">備考</td>
        <td colspan ="2">終了予定時間</td>
        <td rowspan ="2">時間外時間</td>
        <td rowspan ="2">業務処理内容</td>
        <td rowspan ="2">指示者確認<%= "\u329e" %></td>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td>
            <%= link_to "残業申請", "#",
            remote: true, class: "btn btn-primary btn-md", date: day.worked_on %>
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 6 %>
              <font color = "Blue"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% elsif day.worked_on.wday == 0 %>
              <font color = "Red"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% else %>
              <%= $days_of_the_week[day.worked_on.wday] %>
            <% end %>
          </td>
          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= day.started_at.min.floor_to(15) if day.started_at.present? %></td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch,
              class: "btn btn-primary btn-block btn-attendance" %>
            <% end %>
          </td>
          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
          <td><%= day.finished_at.min.floor_to(15) if day.finished_at.present? %></td>
          <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td></td>
        <td colspan="2"></td>
        <td colspan = "6"></td>
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="3"></td>
        <td><%= "" %></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>