<% provide(:title, @user.name) %>
<div>
  <table class = "table table-bordered table-condensed user-table">
    <tr>
      <th>
        <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-info" %>
        <%= l(@first_day, format: :middle) %> 時間管理表
        <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-info" %>
      </th>
      <th>指定勤務時間<%= format_basic_info(@user.work_time) %></th>
      <th colspan="2">基本時間<%= format_basic_info(@user.basic_time) %></th>
      <th>初日<%= l(@first_day, format: :short) %></th>
    </tr>
    
    <tr>
      <td>所属: <%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>氏名　<%= @user.name %></td>
      <td>コード</td>
      <td>出勤日数  <%=@worked_sum %>日</td>
      <td>締め<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<div class = "btn-users-show">
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-success" %>
</div>

<div>
  <table class = "table table-bordered table-condensed table-hover" id = "table-attendance">
    <thead>
      <tr>
        <td rowspan ="2">日付</td>
        <td rowspan ="2">曜日</td>
        <td colspan = "3">出社</td>
        <td colspan = "2">退社</td>
        <td rowspan ="2">在社時間</td>
        <td rowspan ="2">備考</td>
      </tr>
      <tr>
        <td>時</td>
        <td>分</td>
        <td></td>
        <td>時</td>
        <td>分</td>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
          <td><%= l(day.started_at, format: :minute) if day.started_at.present? %></td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch,
              class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
          <td><%= l(day.finished_at, format: :minute) if day.finished_at.present? %></td>
          <td></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan="2">累計日数</td>
        <td colspan="2">総合勤務時間</td>
        <td colspan="2">累計在社時間</td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count %></td>
        <td colspan="2"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="2"><%= format("%.2f",@total_working_times.to_f) %></td>
      </tr>
    </tfoot>
  </table>
</div>